<section id="top_container">
  <div class="top_gradient_bg">
    <header id="header" class="center">
      <nav role="navigation" class="navBox">
        <div class="subtle_border">
          <h1 id="logo"><a href="index-2.html">Infinite</a></h1>
          <ul class="sf-menu">
            <li><a href="index-2.html">Home</a></li>
            <li><a href="#">Features</a>
              <ul>
                <li><a href="#">Homepage Slideshows</a>
                    <ul>
                    <li><a href="index-2.html">Nivo Slider</a></li>
                    <li><a href="index2.html">Peacemaker 3D</a></li>
                  </ul>
                </li>
                <li><a href="typography.html">Typography Elements</a></li>
                <li><a href="tab_accordion.html">Tab, Accordion</a></li>
                 <li><a href="#">Layout Options</a>
                  <ul>
                    <li><a href="left_sidebar.html">Left Sidebar</a></li>
                    <li><a href="right_sidebar.html">Right Sidebar</a></li>
                    <li><a href="full_width.html">Full Width</a></li>
                    <li><a href="layout_columns.html">Layout Columns</a></li>
                  </ul>
                </li>
                <li><a href="testimonial_news.html">Testimonials, News</a></li>
                <li><a href="footer_link_lists.html">Footer Link Lists</a></li>
              </ul>
            </li>
            <li><a href="#">Pages</a>
              <ul>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="#">Portfolio</a>
                <ul>
                    <li><a href="two_columns.html">Two Columns</a></li>
                    <li><a href="three_columns.html">Three Columns</a></li>
                    <li><a href="four_columns.html">Four Columns</a></li>
                    <li><a href="filterable_portfolio.html">Filterable Portfolio</a></li>
                    <li><a href="project_details.html">Portfolio Details Page</a></li>
                  </ul>
                </li>
                <li><a href="services.html">Services</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="pricing.html">Pricing</a>
                    <ul><li><a href="pricing_with_sidebar.html">Pricing w/ Sidebar</a></li></ul>
                </li>
                <li><a href="site_map.html">Site Map</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="404.html">404 Error Page</a></li>
              </ul>
            </li>
            <li><a href="blog.html">Blog</a>
            <ul>
                <li><a href="single.html">Single Page</a></li>
            </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li class="search_icon"> <a href="#">Search</a>
              <div>
                <form action="#" method="get">
                  <input type="text" name="s" id="s" value="Search..." onblur="if (this.value == ''){this.value = 'Search...'; }" onfocus="if (this.value == 'Search...') {this.value = '';}" />
                </form>
              </div>
            </li>
          </ul><!-- end ul-->
        </div>
      </nav>
      <!-- end nav-->
      
      <div class="featured featuredNivo">
        <div id="slider-wrapper">
          <div id="slider" class="nivoSlider"> <img src="images/image_1.jpg" alt="Image"  /> <img src="images/image_2.jpg" alt="Image"  /> <img src="images/image_3.jpg" alt="Image" title="#htmlcaption" /> </div>
          <div id="htmlcaption" class="nivo-html-caption"> <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. </div>
        </div>
      </div>
      <!-- end featured --> 
      
    </header>
    <!-- end #header--> 
  </div>
  <!-- end .top_gradient_bg--> 
</section>
<!-- end #top_container-->